@import './base.css';
@import 'primeicons/primeicons.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.3s;
  padding: 3px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.3em;
}

.content-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s linear;
  padding-bottom: 0;
  padding-top: 0;
  transition:
    max-height 0.3s linear,
    padding-top 0.3s linear,
    padding-bottom 0.3s linear,
    opacity 0.3s linear;
}

.content-wrapper.expanded {
  max-height: 1000px;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  opacity: 1;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
